# Port
PORT=3000

# Mongo DB String
MONGO_URI=your-mongo-uri

# JWT Secret
JWT_SECRET=this_is_jwt_secret_for_adsiduous_task

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Cloudinary
CLOUDINARY_CLOUD_NAME=xxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxx